* {
    text-decoration: none;
    box-sizing: border-box;
    max-width: 100%;

}

body {
    background: #1b1f4b;
    color: azure;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    margin: 0;
    text-decoration: underline wavy #14f1d9;
}

p {
    margin: 0;
}

main {
    padding-top: 60px;
}

h2 {
    margin: 8px 16px;
}

html,
body {
    overflow-x: hidden;
}


/* ------------=======----------- */
.skip-link {
    position: absolute;
    background: #7b5cff;
    border-radius: 4px;
    color: azure;
    text-decoration: none;
    padding: 4px 8px;
    transform: translateY(-150%);
    transition: .3s;
    z-index: 2;
    top: 4px;
    left: 4px;
    outline: transparent;
    /* box-shadow: 2px 2px 10x #7b5cff; */
    text-shadow: 2px 2px #000;
}

.skip-link:focus-visible {
    transform: translateY(0);
}

/* ------------=======----------- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    color: #c8d0ff;
    align-items: center;
    background: rgba(3, 19, 113, 0.35);
    height: inherit;
    z-index: 2;
}

header>p {
    text-decoration: none;
    padding-top: 8px;
    margin: 0;
}

header>img {
    display: none;
}

span {
    color: #ef16bc;
}

@media (width >=600px) {
    header>img {
        display: block;
        position: absolute;
        width: 100px;
        top: 0px;
        left: 20px;
    }
}

@media (width >=300px) {
    header>p {
        font-size: smaller;
    }
}

/* ------------=======----------- */

.sections {
    border: 1px solid rgba(88, 86, 86, 0.493);
    width: 95%;
    margin: 16px auto;
    border-radius: 8px;
    background: #2a2f6e8c;
    box-shadow: 0 10px 30px rgba(107, 109, 136, 0.398);
    padding: 12px 0;
}

.text-missao-layout {
    margin-left: 16px;

    width: 90%;
}


.container-hora-do-jogo {
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 8px;
    width: 89%;
    margin: 10px auto;
    padding: 12px 0;
    background: rgba(152, 130, 253, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .35);
}


.container-hora-do-jogo p {
    width: 90%;
    margin: 0 auto;
}

.button-container-jogo a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    margin: 0 auto;
    margin-top: 12px;
    width: 90%;
}

.button-jogar {
    padding: 8px 12px;
    background: linear-gradient(90deg, #c6769b, #7b5cff, rgba(48, 3, 249, 0.2));
    box-shadow: 0 10px 28px rgba(123, 92, 255, .35);
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #9094b295;
    margin: 0 auto;
    text-shadow: 1px 1px rgba(152, 150, 150, 0.784);
    width: 80%;
    color: whitesmoke;
    font-weight: bolder;
}

.button-jogar:hover {
    transform: scale(1.03);
    transition: .8s;
}

@media (width >=768px) {
    .button-container-jogo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 95%;
        gap: 16px;
        margin: 0 auto;
    }
}

/* <!-- ---------------------------------------------------------- --> */
h3 {
    margin: 8px;
    color: #d4a217;
    text-shadow: 1px 1px rgba(48, 48, 45, 0.785);
}

img {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
}

.text__card {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 12px;
    font-size: smaller;
}

.container-cards {
    width: 90%;
    margin: 0 auto;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(38, 38, 38, 0.35);
}

@media (width >=300px) {
    img {
        width: 100%;
        padding: 8px;
    }
}

@media (width >=768px) {
    .container-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 310px;
        padding: 12px;
        position: relative;
    }

    .card {
        padding-top: 42px;

    }

    .card>h3 {
        position: absolute;
        top: 0;
    }
}

/* <!-- ---------------------------------------------------------- --> */

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

li strong {
    color: #14f1d9;
    text-shadow: 1px 1px rgba(48, 48, 45, 0.785);

}

/* <!-- ---------------------------------------------------------- --> */

.text-registro-jornada {
    width: 90%;
    margin: 0 auto;
    font-size: smaller;
}

/* <!-- ---------------------------------------------------------- --> */


.sections figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-evenly;
    align-self: center;
}

.sections-jornada {
    width: 95%;
    margin: 16px auto;
    border-radius: 8px;
    background: #2a2f6e8c;
    box-shadow: 0 10px 30px rgba(107, 109, 136, 0.398);
    padding: 12px 0;
    border: 1px solid rgba(88, 86, 86, 0.493);
}

.sections-jornada h2 {
    width: 80%;
    margin: 10px auto;
}

.sections-jornada>p {
    width: 80%;
    margin: 0 auto;
    font-size: smaller;
}

.prints {
    width: 100%;
    max-width: 370px;
    border: #00000095 solid 1px;
    padding: 20px 0;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(38, 38, 38, 0.35);
    background: #000;
    margin: 0 auto;
}

.prints>img {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 12px;
}

figcaption {
    margin-top: 10px;
    font-size: smaller;
    color: #c8d0ff;
    text-shadow: 0 0 18px rgba(240, 177, 40, .30), 0 3px 10px rgba(16, 18, 41, .60);
}

figcaption strong {
    color: #cfb71b;
    text-shadow: 1px 1px rgba(48, 48, 45, 0.785);
}

@media (width >=300px) {
    .prints {
        width: 100%;
        border: #00000095 solid 1px;
        padding: 8px 0;
        border-radius: 8px;
        box-shadow: 0 10px 30px rgba(38, 38, 38, 0.35);
        background: #000;
        margin: 0 auto;
    }

    .prints>img {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 8px;
    }
}

@media (width >=768px) {
    .container-habilidades-do-aventureiro {
        flex-direction: column;
    }
}



.container-habilidades-do-aventureiro figure {
    align-items: center;
}

.img__habilidade-do-aventureiro {
    max-width: 650px;
    min-width: 280px;
    width: 100%;
    margin: 0;
}

figcaption {
    margin-top: 10px;
    font-size: smaller;
    text-align: center;
    justify-content: center;
}

.container-registro-jornada {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

@media (width >=996px) {
    .container-habilidades-do-aventureiro {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.prints {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prints>img {
    margin: 12px;
    display: flex;
    max-width: 330px;
    min-width: 240px;
    align-items: center;
    justify-content: center;

}



/* <!-- ---------------------------------------------------------- --> */
footer {
    text-align: center;
    padding: 12px 0;
    background: linear-gradient(90deg, rgba(146, 124, 248, 0.4), #1b1f4b);
    color: #c8d0ff;
    box-shadow: 0 -10px 30px rgba(51, 53, 80, 0.398);
    font-size: small;
    width: 100%;
}