<header class="bg-blue">
    <div class="navbar--only navbar--off ">
        <figure>
            <img class="img-logo-mobile" src="/CursoSenai(MyVersionPage)/ExerciciosExtruturaCurso/09_Desafio_ArquivoWinchester/ArquivoWinchester/assets/img/img-navbar/img_logo_mobile.png" alt="">
        </figure>
    </div>

    <div class="navbar--desktop">

        <nav class="navbar--only2">

            <div class="container-navbar">
                <div class="links-navbar">
                    <a class="nav-link btn-generic-navbar" class="nav--home" href="/CursoSenai(MyVersionPage)/ExerciciosExtruturaCurso/09_Desafio_ArquivoWinchester/ArquivoWinchester/pages/home/home.html">Home</a>

                    <a class="nav-link btn-generic-navbar" class="nav--home"
                        href="/CursoSenai(MyVersionPage)/ExerciciosExtruturaCurso/09_Desafio_ArquivoWinchester/ArquivoWinchester/pages/hunts/list-hunts/list-hunts.html">Caçadas</a>

                    <a class="nav-link btn-generic-navbar" class="nav--home"
                        href="/CursoSenai(MyVersionPage)/ExerciciosExtruturaCurso/09_Desafio_ArquivoWinchester/ArquivoWinchester/pages/entity/list-entity/list-entity.html">Entidades</a>

                    <a class="btn-generic-navbar" href="/CursoSenai(MyVersionPage)/ExerciciosExtruturaCurso/09_Desafio_ArquivoWinchester/ArquivoWinchester/pages/login/login.html">Sair<i class="fa-solid fa-arrow-right details"
                            onclick="this.classList.toggle('aberto')"></i></a>
                </div>

                <div class="links-navbar">
                    <a href="/CursoSenai(MyVersionPage)/ExerciciosExtruturaCurso/09_Desafio_ArquivoWinchester/ArquivoWinchester/pages/register/register.html" class="nav-link btn-generic-navbar">Cadastro</a>

                    <a href="/CursoSenai(MyVersionPage)/ExerciciosExtruturaCurso/09_Desafio_ArquivoWinchester/ArquivoWinchester/pages/login/login.html" class="nav-link btn-generic-navbar">Login</a>
                </div>
            </div>

        </nav>

        <figure class="bg-logo-tablet">
            <img class="img-logo-desktop" src="/CursoSenai(MyVersionPage)/ExerciciosExtruturaCurso/09_Desafio_ArquivoWinchester/ArquivoWinchester/assets/img/img-navbar/img_logo_desktop.png" alt="">

            <img class="toggle img-menu-hamburguer btn-generic-navbar"
                src="/CursoSenai(MyVersionPage)/ExerciciosExtruturaCurso/09_Desafio_ArquivoWinchester/ArquivoWinchester/assets/img/img-navbar/img_menu_hamburguer.png" alt="">
        </figure>

    </div>
</header>