<header>
  <button class="toggle">
    <img src="/assets/img/img_sidebar/menu_hamburguer.png" alt="menu hamburguer">
  </button>

  <nav class="sidebar">
    <div class="sidebar__img">    
      <a href="../../pages/register_company/register_company.html">
        <img src="/assets/img/img_sidebar/img_logo.png" alt="Logo escrito Do Condado a Mordor tendo como símbolo o olho de sauron e o Um Anel">
      </a>
    </div>
  
    <div class="sidebar__links">
      <a href="/pages/register_company/register_company.html">Cadastrar Companhia</a>
      <a href="/pages/register_expedition/register_expedition.html">Cadastrar Expedição</a>
      <a href="/pages/panel/panel.html">Painel</a>
      <a href="/pages/login/login.html">Sair</a>
    </div>
  </nav>
</header>