body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(242, 252, 255, 0.781);
    padding: 0;

}

.skip-link {
    background-color:  rgba(242, 252, 255, 0.781);
    border: 1px solid #f49f0b00;
    border-radius: 4px;
    padding: 4px;
    margin: 0;
    text-decoration: none;
    color: #7c2d12;
    position: absolute;
    top: 8px;
    left: 16px;
    transform: translateY(-150%);
    transition: 1s;
}

.skip-link:focus-visible {
    transform: translateY(0);
    transition: 1s;
}

header {
    background-color: #0A3161;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
}

.nav-style>a {
    text-decoration: none;
    color: whitesmoke;
    margin: 0;
    border: 1px;
    padding: 4px;

}

.nav-style>a[aria-current="page"] {

    border-bottom: 1px solid rgba(245, 245, 245, 0.523);

}

.imagem-logo {
    width: 40px;
    position: absolute;
    padding: 8px;
}

h1 {
    text-align: center;
    padding: 0;
    margin: 10px auto;
    text-decoration: underline;

}

main {
    width: 80%;
    margin: 0 auto;
    padding: 0px;
}

.section01 {
    background-color: #fff;
    border: 1px solid #C5CCD6;
    border-radius: 4px;
    margin: 20px auto;
    padding: 0;
}

.section01>h2 {
    padding: 12px;
    margin: 0 auto;
}

.section02 {
    background-color: #fff;
    border: 1px solid #C5CCD6;
    border-radius: 4px;
    margin: 20px auto;
    padding: 0;
}

.section02>h2 {
    padding: 12PX;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 15px;
}

.cabecalho-tabela {
    background-color: #0A3161;
    color: #fffbeb;
}

table>caption {
    margin-bottom: 14px;
    font-weight: bold;

}

td,
th {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

footer {
    background-color: #D4AF37;
    color: #181818;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 80%;
}

footer>p {
    margin: 0;
    padding: 0;
}

.imagem-topo>img {
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 8px;
}