body {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #8D5B24;
    background-image: url('/assets/img/img_panel/img_background_panel.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
}


/* Skip link */
.skip-link {
    text-decoration: none;
    position: fixed;
    top: 4px;
    left: 4px;
    background-color: #F3E3C4;
    color: #69553d;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    transform: translateY(-150%);
}

.skip-link:focus-visible {
    transform: translate(0);
    outline: 2px solid #B6874C;
}

/* Main layout */
.main-layout {
    /* height: 100vh; */
    /* width: 90%; */
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-layout>h1 {
    margin: 0;
    text-align: center;
    color: #f4bc03;
    margin: 8px 0;
}

.main-layout>h2 {
    color: #F7E3A8;
    margin: 0 0 16px;
    width: 100%;
    text-align: center;
}

@media (width >=768px) {
    /* .main-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .main-layout>h1 {
        /* text-align: start; */
        font-size: 2.3rem;
    }

    .main-layout>h2 {
        font-size: 1.8rem;
    }
}

@media (width >=992px) {
    .main-layout {
        margin-left: 200px;
    }
}

/* Section cards */
.section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.section-cards__card {
    display: flex;
    flex-direction: column;
    border: 2px solid #AD7A3B;
    background-color: #F3E0C0;
    border-radius: 8px;
}

@media (width >=430px) {
    .section-cards__card {
        width: 350px;
    }
}

@media (width >=768px) {
    .section-cards {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: unset;
        /* position: relative; */
    }
}

@media (width >=1400px) {
    .section-cards__card {
        width: 450px;
    }
}

.section-cards__card>h3,
.section-cards__card>h4 {
    margin: 0 0 8px;
    padding: 0 8px;
}

.section-cards__card>h3 {
    color: #5A301A;
    font-size: 1.3rem;
}

.section-cards__card>h4 {
    color: #3F2716;
    font-size: 1.2rem;
}

.section-cards__card>figure {
    margin: 0;
}

.section-cards__figure>img {
    width: 100%;
}

.section-cards__ul {
    padding-left: 30px;
}

.section-cards__ul span {
    color: #704932;
    font-weight: bold;
}

.section-cards__ul li {
    color: #3F2716;
    font-size: 1.1rem;
}

.section-cards__buttons {
    margin-top: auto;
    text-align: center;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.section-cards__buttons>button {
    width: 46%;
    height: 48px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    border: 2px solid #F4BC03;
}

@media (width >=992px) {
    .section-cards__card>h3 {
        color: #5A301A;
        font-size: 1.5rem;
    }

    .section-cards__card>h4 {
        color: #3F2716;
        font-size: 1.4rem;
    }

    .section-cards__ul li {
        font-size: 1.3rem;
    }

    .section-cards__buttons>button {
        font-size: 1.1rem;
    }
}

.button-edit {
    background-color: #f0bd16;
    color: #23130A;
}

.button-edit:hover {
    background-color: #D89E02;
    color: #23130A;
    transition: 0.2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
}

.button-delete {
    background-color: transparent;
    color: #23130A;
}

.button-delete:hover {
    background-color: #F4BC03;
    color: #23130A;
    transition: 0.2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
}

/* Section edit card */
.section-edit-card {
    /* height: 50vh; */
    width: 95%;
    /* padding: 8px; */
    color: #3F2716;
    border: 2px solid #AD7A3B;
    background-color: rgb(243, 224, 192);
    font-size: 1.3rem;
    position: fixed;
    top: 15vh;
    display: none;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.section-edit-card--show {
    display: unset;
}

@media (width >= 768px) {
    .section-edit-card {
        /* height: 50vh; */
        width: unset;
        top: 20vh;
    }
}

.section-edit-card>h2 {
    width: 100%;
    margin: 8px 0 0 8px;
    color: #23130A;
}

.section-edit-card__close-icon {
    position: absolute;
    top: 0;
    right: 0;
    text-align: end;
    margin-right: 8px;
    margin-top: 8px;
    /* outline: 1px solid red; */
    width: 100%;
}

.section-edit-card__close-icon>img {
    width: 35px;
}

/* .section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width >=992px) {
    .section-form {
        margin-left: 10px;
    }
} */

/* .section-form>h2 {
    color: #F7E3A8;
    margin: 0;
    width: 100%;
    margin-bottom: 8px;
} */

/* @media (width >=768px) {
    .section-form>h2 {
        font-size: 1.6rem;
    }
} */

.section-edit-card__form {
    /* outline: 1px solid #F4BC03; */
    /* background-color: rgba(43, 74, 95, 0.8); */
    border-radius: 4px;
    padding: 8px;
    gap: 8px;
    display: grid;
    grid-template-areas:
        'company'
        'size'
        'expedition-name'
        'risk'
        'initial-status'
        'leader'
        'origin'
        'destination'
        'date'
        'mission'
        'buttons';
    width: 94%;
}

@media (width >=768px) {
    .section-edit-card__form {
        grid-template-areas:
            'company size expedition-name'
            'risk initial-status leader'
            'origin destination date'
            'mission mission mission'
            'buttons buttons buttons';
        padding: 16px;
    }
}

.section-edit-card__expedition-name {
    grid-area: expedition-name;
}

.section-edit-card__origin-region {
    grid-area: origin;
}

.section-edit-card__destination-region {
    grid-area: destination;
}

.section-edit-card__company-name {
    grid-area: company;
}

.section-edit-card__leader-name {
    grid-area: leader;
}

.section-edit-card__groud-size {
    grid-area: size;
}

.section-edit-card__mission-objective {
    grid-area: mission;
}

.section-edit-card__risk-level {
    grid-area: risk;
}

.section-edit-card__initial-status {
    grid-area: initial-status;
}

.section-edit-card__departure-date {
    grid-area: date;
}

.section-edit-card__expedition-notes {
    grid-area: expedition-notes;
}

.section-edit-card__buttons {
    grid-area: buttons;
    text-align: center;
}

.section-edit-card__buttons>button {
    height: 40px;
    font-size: 1rem;
    margin-top: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.section-edit-card__buttons>button:focus-visible {
    outline: 1px solid #B6874C;
}

.section-edit-card__button-update {
    background-color: #f0bd16;
    color: #23130A;
    border: 1px solid #D89E02;
    width: 47%;
}

.section-edit-card__button-update:hover {
    background-color: #D89E02;
    color: #23130A;
    transition: 0.2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
}

.section-edit-card__button-cancel {
    background-color: transparent;
    color: #23130A;
    border: 1px solid #F4BC03;
    width: 47%;
}

.section-edit-card__button-cancel:hover {
    background-color: #F4BC03;
    color: #23130A;
    transition: 0.2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
}

@media (width >=768px) {
    /* .section-edit-card__button-update
    .section-edit-card__button-cancel{
        width: 200px;
        height: 40px;
    } */
}

.section-edit-card__style-field {
    display: flex;
    flex-direction: column;
}

.section-edit-card__style-field>label {
    color: #5A301A;
    font-size: 1.06rem;
    margin-bottom: 4px;
}

.section-edit-card__style-field>input,
.section-edit-card__style-field>select {
    background-color: #E4EDF4;
    outline: none;
    height: 24px;
    border: 2px solid #B6874C;
    border-radius: 4px;
    padding: 1px 2px;
}

.section-edit-card__style-field>select {
    height: 30px;
}

.section-edit-card__style-field>input[type="date"] {
    height: 24px;
}

.section-edit-card__style-field>textarea {
    background-color: #E4EDF4;
    border: 2px solid #B6874C;
    outline: none;
    height: 44px;
    border-radius: 4px;
}

.section-edit-card__style-field>input:focus-visible,
.section-edit-card__style-field>select:focus-visible,
.section-edit-card__style-field>textarea:focus-visible {
    outline: 1px solid #B6874C;
}